
# cmake build dirs
projects/linux/someip/git-repos/capicxx-core-runtime/build
projects/linux/someip/git-repos/capicxx-core-tools/build
projects/ai/python/assistants/machi-english/google-asr/training_data
# qt build dirs
*.jpg
*.png
*.o
*.mp3
*.mp4
*.mkv
*.gz
*.zip
*.wav
*.out
build/
build-*/
projects/ros/opensource/mybot_ws/build
projects/ros-gazebo/rrbot/build
projects/ros-gazebo/rrbot/devel
projects/ros-gazebo/rrbot/logs
projects/ros-gazebo/rrbot/.catkin_tools

